body{
    background-color: rgb(99, 187, 242);
    font-family: 'Arial', sans-serif;
}
.weather-container{
    top:30%;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: rgba(217, 217, 217, 0.751);
    width:500px;
    height: 600px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    gap: 10px;
    background-image: url('bgimage.jpg');
    background-size: cover; 
    background-position:right; 

}


h1{
    font-size: 2rem;
    color: rgb(230, 247, 0);
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

#date{
    grid-column: span 3 / span 3;
    font-size: 20px;
    padding:5px;
    background-color: rgb(6, 51, 252);
    border-radius: 5%;
    margin:5px;
    color:greenyellow;
}

#picture{
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 1;
    overflow: hidden;  
    background-color:#1b5397;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); 
    margin: 5px;
}

#picture img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    background-color:#1b5397;

}

.generalSituation{
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 5;
    font-size: 25px;
    background-color: rgba(50, 138, 205, 0.653);
    margin:5px;
    border-radius: 15px;
    padding:5px;
    color: rgb(11, 87, 72);
}

.States{
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 23px;
    background-color: coral;
    border-radius: 15px;
    
}

.States p{
    word-wrap: break-word;
}

.info{
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    font-size: 25px;
    background-color:coral;
    border-radius: 15px;
    margin-top: 20px;
}

.inputArea{
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;

}

#inputlocation{
    font-size: 20px;
    width:90%;
    margin:5px;
    height:40px;
}

#search{
    font-size: 20px;
    width:90%;
    margin:5px;
    background-color: rgb(6, 51, 252);
    color: white;
    border-radius: 5%;
    padding:5px;
    cursor: pointer;
}